{% extends "base.html" %}
{% block title %} - Available Jobs{% endblock %}

{% block pagehead %}
    <h1>Add Jobs</h1>
{% endblock %}

{% block content %}
<form role="form" method="post" action="/files/upload/" enctype='multipart/form-data' encoding='multipart/form-data'    >
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="">
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        <textarea class="form-control" id="desc" name="description"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" name="content" id="exampleInputFile">

        <p class="help-block">Upload a ZIP-File with all needed things.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="enqueue"> Enqueue
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="private"> Private file
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}