{% extends "base.html" %}
{% block title %} - Available Jobs{% endblock %}
{% block pagehead %}
    <h1>Available Projects</h1>
{% endblock %}

{% block content %}
<style>
    .circle {
        font-size:120%;
    }

    .color-error {   color: #D2322D;}
    .color-success { color: #419641;}
    .color-pending { color: #ED9C28;}
    .color-paused{ color: #3276B1;}

</style>

<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Last Run</th>
        <th>State</th>
        <th>Author</th>
        <th></th>
    </tr>

    <tbody>

    {% for entry in file_entries %}

    <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.last_run }}</td>
        <td>
            <span class="circle color-{{entry.state}}">◉</span>
        </td>
        <td>{{ entry.author.name }}</td>
        <td>
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default btn-success">
                    <span class="glyphicon  glyphicon-play"></span>
                </button>
                <button type="button" class="btn btn-default btn-primary"
                        onclick="window.location='{{url_for("FilesView:detail", name = entry.id)}}'">
                    <span class="glyphicon glyphicon-folder-open"></span>
                </button>

                 {% if current_user.id == entry.author.id %}
                    <button type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button type="button" class="btn btn-danger ">
                            <span class="glyphicon glyphicon-trash"></span>
                    </button>
                 {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}